<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amanda Barranco</title>
</head>
<body>
    <div>
        <h1>Amanda Barranco</h1>
        <h2>UX Designer, passarinha.</h2>
    </div>
    <div>
        <h4>Disponível para freelance e contratação :)</h4>
        <h5>De São Paulo, me preparando para o mundo. </h5>
        <p>Já trabalhei com muitas coisas, mas me encontrei mesmo no Design. Gosto de poder combinar meu potencial criativo à capacidade analítica e curiosidade exploratória de UX. Me interesso por multiáreas do conhecimento e entendo que tudo esteja conectado. 

            Busco sempre trabalhar com propósito e sonho um dia fazer algo grande pelo planeta, pelo oceano. Sou apaixonada por baleias e plantas e prezo pela  sustentabilidade. 
            
            No tempo livre  gosto de maratonar séries, faço yoga e brinco com meu sobrinho.</p>
    </div>
    <div>  
        <h3>ONDE EU APRENDO</h3>
    </div>
    <div>
        <h5>Formação</h5>
            <ul>
            <li>
                <p>Universidade de São Paulo</p>
                <p>História</p>
            </li>
            <li>
                <p>Mergo User Experience</p>
                <p>Formação em UX</p>
            </li>
        </ul>
        <h5>Ultimas Leituras</h5>
        <ul>
            <li>Artigo do Medium</li>
            <li>Design do Futuro</li>
        </ul>
        <h5>Aprimoramento Contiínuo em:</h5>
        <ul>
            <li>
                <span>Icones</span>   
            </li>
        </ul>
        <h5>Canais que acompanho:</h5>
        <ul>
            <li>
                <span>Icones</span>   
            </li>

        </ul>
        <h5>Podcasts:</h5>
        <ul>
            <li>
                <span>Icones</span>   
            </li>
        </ul>
    </div>
    <div>
        <h3>O QUE EU FAÇO</h3>
        <h4>Mais do que fazer produtos, eu penso produtos.</h4>
        <p>Minha prioridade é compreender o problema e projetar interfaces web e App pensando nas necessidades dos usuários.</p>
        <div>
            <p>IMERSÃO</p>
            <ul>
                <li>Pesquisa</li>
                <li>Entrevista com usuários</li>
                <li>Criação de Personas</li>
                <li>Jornada do Usuário</li>
                <li>User Flow</li>
            </ul>
            <p>USABILIDADE</p>
            <ul>
                <li>Análise Heurística</li>
                <li>Teste de Usabilidade</li>
                <li>Teste A/B</li>
                <li>UX Writing</li>
            </ul>
            <p>INTERFACE</p>
            <ul>
                <li>Arquitetura da Informação</li>
                <li>Card Sorting</li>
                <li>Wireframe</li>
                <li>Protótipo</li>
                <li>UI Design</li>
            </ul>
        </div>
    </div>

    <div>
        <span>Design é processo</span>
    </div>
    
    <div>
        <h3>MÉTODO</h3>
        <h4>Design Thinking, Design Sprint, Scrum.</h4>
        <p>Em todos os meus projetos utilizo o Design Thinking como ferramenta para estruturar e resolver problemas de forma empática.</p>
    </div>

    <form action="">
        <textbox name="Nome" id="nome" cols="30" rows="10">Nome</textarea>
    </form>
</body>
</html>